<!DOCTYPE html>
{% autoescape true %}
<html>
<head><title>Devnull Unique Deaths thingy</title></head>
  <body>
    <p>DISCLAIMER: data is probably way out of date! Using manually added xlogfile at the moment, due to App Engine removing the API I was using to store the xlogfile. This will be fixed at some point; this is just a quick hack to get things back up.

<form action='/unique' method='POST'>
Username for unique deaths: <input name='username'>
<input type='submit'>
  </body>
</html>
{% endautoescape %}
